extends layout

block content
	if currentUser.membership
		h1 You are already a member! 
	else
		h1= title
			form(method='POST' action='')
				div.form-group
					input#firstname.form-control(type='text' placeholder='Enter secret password' name = 'secretpassword' required='true' )
				button.btn.btn-primary(type='submit') Submit

			if errors
				ul
					for error in errors
						li(class="error-text") #{error.msg}
