extends layout

block content
	h1= title
		form(method='POST' action='')
			div.form-group
				input#firstname.form-control(type='text' placeholder='Enter your title' name = 'title' required='true' )
			div.form-group
				textarea#-message-form-control(name="message" placeholder='Enter your message' cols="100" rows="20") 	
			button.btn.btn-primary(type='submit' style=("display: block")) Submit


		if errors
			ul
				for error in errors
					li(class="error-text") #{error.msg}
