extends layout

block content
	h1= title

	form(method='POST' action='')
		div.form-group
			label(for='firstname') Password:
			input#firstname.form-control(type='text' placeholder='Enter the secret passwords' name = 'firstname' required='true' )

	if errors
		ul
			for error in errors
				li(class="error-text") #{error.msg}
